

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");



:root {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-body-font-size: 0.9rem;
    --bs-body-font-weight: 200;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 800;
}


#fondo-con-imagen {
    height: 70vh;
    background-image: url("pinguinos.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

svg {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
